<h1 class="ls">Listado de productos</h1>
 {{#if username}}
  <p>Bienvenido, {{username}} {{userrol}}</p> <button id="btn_logout">Log out</button>
{{/if}}
<div id="listProd">
    {{#each products}}
    <div class="prods">
        <h2>{{this.title}}</h2>
        <p>CAT: {{this.category}} REF: {{this.code}} </p>
        <h4>{{this.description}}</h4>
        <p>Stock: {{this.stock}}</p>
    </div>
    {{/each}}
</div> 
